# Object files
*.o
*.ko
*.obj
*.elf
*.o.cmd
*.ko.cmd
*.mod.c

Module.symvers
modules.order

.tmp_versions/

# Precompiled Headers
*.gch
*.pch

deps.h

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

servicemanager
cbinder_add_ints

# Debug files
*.dSYM/
*.su

.DS_Store
.vscode/

*.swp
tags
